<h1>
  <strong></strong>
  <%= @article.title %>
</h1>
 
<p>
  <strong>あらすじ<br></strong>
  <%= @article.text %>
</p>

<p><strong>各話</strong> </p>

<ul>
  <% @article.comments.each do |comment| %>
    <li><%= link_to comment.commenter, user_article_comment_path(@user, @article, comment) %></li>
  <% end %>
</ul>


<%= link_to 'ホームに戻る', root_path %>